@page "/about"

<PageLayout>
    <h3>
        About
    </h3>

    <p>
        Hi everyone. I wrote this library to skin some more interesting projects I have in the pipeline.
    </p>

    <ol>

        <li>

            <p>
                DataGrid with full CRUD support, client validation, with the DB handling the
                sorting, paging, and filtering not the server, where it should be, they are designed for this...
            </p>

            <p>
                <code>
                    @("<DataGrid TItem=\"Student\" EndPoint=\"api/students\" Name=\"Students\" />")
                </code>
            </p>

            <p>
                This project is almost complete. Filtering is still outstanding.
            </p>

        </li>

        <li>
            Remote state aware components.
        </li>

        <li>
            Plugin UI to manage Users and assign Roles.
        </li>

        <li>
            Role aware DataGrid.
        </li>

    </ol>
      <div><CleanViewVersion/></div>

</PageLayout>
