<div class="d-flex flex-row align-items-center">

    <div class="d-flex flex-row flex-grow-1 align-items-center">
        <div>@Value.displayText</div>
        <div>@Value.href</div>
        <div>@Value.icon</div>
    </div>
    @if (ChildContent != default)
    {
        <div class="border-left">
            <button class="btn" @onclick="OnOpenChild">
                <span class="oi oi-chevron-right"></span>
            </button>
        </div>
        @if (_open)
        {
            <button class="btn" @onclick="OnCloseChild">
                <span class="oi oi-chevron-left"></span>
            </button>
            @ChildContent
        }
    }

</div>
@code {
    bool _open = false;
    void OnOpenChild()
    {
        _open = true;
    }

    void OnCloseChild()
    {
        _open = false;
    }

    [Parameter]
    public EventCallback<bool> OnChildClose { get; set; }

    [Parameter]
    public (string displayText, string href, string icon) Value { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

}
