@typeparam TItem
<div @attributes="InputAttributes">
    @foreach (var item in Items)
    {
        @ChildContent(item)
    }
</div>
@code {
    [Parameter]
    public IReadOnlyList<TItem> Items { get; set; }

    [Parameter]
    public RenderFragment<TItem> ChildContent { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> InputAttributes { get; set; }
}
