<button  @onfocusout="OnFocusOut" @onclick="OnClickLeft" class="btn btn-outline text-white clean-view-text-shadow no-print fade-up-button @LeftButtonStateClass">
    @LeftIcon
</button>
@if (open)
{
    <div class="clean-view-pop clean-view-left" @onmouseover="OnMouseOverPanel" @onmouseout="OnMouseOutPanel">
        @Panel
    </div>
}
@code {


    [Parameter]
    public RenderFragment LeftIcon { get; set; }

    [Parameter]
    public RenderFragment Panel { get; set; }

    [Parameter]
    public string LeftButtonStateClass { get; set; }

    bool open = false;

    void OnClickLeft()
    {
        open = !open;
    }

    void OnFocusOut()
    {

    }
    void OnMouseOverPanel()
    {

    }
    void OnMouseOutPanel()
    {

    }
}
