<div class="d-flex flex-column align-content-stretch m-0 p-0 overflow-hidden">
    @if (_panelOpen)
    {
        <div class="clean-view-panel-left">
            <NavPanel>
                <NavPanelMenuItem Name="" Icon="oi-chevron-left" @onclick="Toggle" />
                @SubPanelFragment
            </NavPanel>
        </div>
    }
    else
    {
        <div class="clean-view-panel-right">
            <CascadingValue Value="this">
                @ChildContent
            </CascadingValue>
        </div>
    }
</div>
@code {

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public RenderFragment SubPanelFragment { get; set; } =@:@{ <div>Nothing to see here</div> }
    ;

    public void SetContent(RenderFragment fragment)
    {
        SubPanelFragment = fragment;
        Toggle();
        StateHasChanged();
    }

    bool _panelOpen = false;

    void Toggle()
    {
        _panelOpen = !_panelOpen;
    }

}
