@namespace CleanView

<div id="cv-body"  @attributes="InputAttributes">
    @ChildContent
</div>
@code{
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public Dictionary<string, object> InputAttributes { get; set; }

}