@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject SignOutSessionStateManager SignOutManager
    <div class="text-white flex-grow-1 mx-2 p-1 row">
        <div class="col-sm">
            <h4 class="clean-view-text-shadow no-select">Clean View</h4>
            <AuthorizeView>
                <Authorizing>
                    <em style="font-size:0.6em">Authenticating...</em>
                </Authorizing>
            </AuthorizeView>
        </div>
        <div class="col-sm  text-right">
            <AuthorizeView>
                <Authorizing>

                </Authorizing>
                <NotAuthorized>
                    <h4 class="fade-out-delay">
                        @Greating, click here to login.
                    </h4>
                </NotAuthorized>
                <Authorized>
                    <h4 class="fade-out-delay clean-view-text-shadow">
                        @Greating, @ShortName(context.User.Identity.Name)
                    </h4>
                </Authorized>
            </AuthorizeView>
        </div>
    </div>
@code {

    string Greating
    {
        get
        {
            var hour = DateTime.Now.Hour;
            return hour switch
            {
                _ when (hour > 18) => "Good evening",
                _ when (hour > 12) => "Good afternoon",
                _ when (hour > 10) => "Hello",
                _ => "Good morning"
            };
        }
    }


    string ShortName(string email)
    {
        var namepart = email.Split('@').FirstOrDefault() ?? string.Empty;
        return namepart.Replace(".", " ");
    }

}
