@inherits LayoutComponentBase
<CleanLayout CopyrightOwner="<Your Name>" CopyrightStart="1936" >
    <HeaderCenter>
        <AppHeader />
    </HeaderCenter>
    <LeftMenuPanel>
        <NavMenuLeft />
    </LeftMenuPanel>
    <LeftIcon>
        <span class="oi oi-grid-three-up text-shadow" aria-hidden="true"></span>
    </LeftIcon>
    <RightIcon>
        <span class="oi oi-cog text-shadow" aria-hidden="true"></span>
    </RightIcon>
    <RightMenuPanel>
        <NavMenuRight />
    </RightMenuPanel>
    <Content>
        @Body
    </Content>
</CleanLayout>

