@inherits LayoutComponentBase
<CleanLayout CopyrightOwner="Brian Parker">
    <LeftMenuPanel>
        <MenuPanel>
            <TList Items="_leftMenuItems" Context="location">
                <NavLink class="nav-link text-black" href="@location.href" Match="location.match">
                    <span class="oi @location.icon" aria-hidden="true"></span><text class="clean-view-large"> @location.display</text>
                </NavLink>
            </TList>
        </MenuPanel>
    </LeftMenuPanel>
    <LeftIcon>

        <span class="oi oi-grid-three-up text-shadow" aria-hidden="true"></span>

    </LeftIcon>
    <RightIcon>

        <span class="oi oi-cog text-shadow" aria-hidden="true"></span>

    </RightIcon>
    <RightMenuPanel>

        <UserAccountDisplay />

        <BackgroundPicker height="60" class="m-1 p-0 border-0 pic-hover" />

    </RightMenuPanel>
    <Content>

        @Body

    </Content>
</CleanLayout>
@code{
    IReadOnlyList<(string display, string href, string icon, NavLinkMatch match)> _leftMenuItems =>
        new[] { ("Home","","oi-home",NavLinkMatch.All),
                ("Test","test","oi-terminal",NavLinkMatch.Prefix),
                ("Counter","counter","oi-plus",NavLinkMatch.Prefix),
                ("Fetch data","fetchdata","oi-list-rich",NavLinkMatch.Prefix)};
}