@inherits LayoutComponentBase
<CleanLayout CopyrightOwner="<Your Name>" CopyrightStart="2019">
    <HeaderCenter>
        <h1 class="text-white bg-white-50 flex-grow-1 rounded clean-view-shadow mx-2 p-1">
            Hello
        </h1>
    </HeaderCenter>
    <LeftMenuPanel>
        <div class="border rounded m-0 text-dark p-2 bg-white clean-view-shadow clean-view-text-shadow " style="min-width: 320px">
            <NavPanel>
                <NavPanelMenuItem Name="Home" Icon="oi-home" href="" />
                <NavPanelMenuItem Name="Counter" Icon="oi-plus" href="counter" />
                <NavPanelMenuItem Name="Fetch data" Icon="oi-list-rich" href="fetchdata">
                    <NavPanelMenuItem Name="Home" Icon="oi-home" href="" />
                    <NavPanelMenuItem Name="Counter" Icon="oi-plus" href="counter" />

                </NavPanelMenuItem>
            </NavPanel>
        </div>
    </LeftMenuPanel>
    <LeftIcon>
        <span class="oi oi-grid-three-up text-shadow" aria-hidden="true"></span>
    </LeftIcon>
    <RightIcon>
        <span class="oi oi-cog text-shadow" aria-hidden="true"></span>
    </RightIcon>
    <RightMenuPanel>
        <div class="border rounded m-0 text-dark p-2 bg-white clean-view-shadow clean-view-text-shadow " style="min-width: 320px">
            <NavPanel>
                <UserAccountDisplay />
                <div class="p-3" style="flex: unset; max-width: 320px">
                    <BackgroundPicker height="60" class="m-1 p-0 border-0 pic-hover" />
                </div>
            </NavPanel>
        </div>
    </RightMenuPanel>
    <Content>
        @Body
    </Content>
</CleanLayout>
