@inherits LayoutComponentBase
<CleanLayout CopyrightOwner="Brian Parker">
    <LeftMenuPanel>
        <div class="border rounded m-0 text-dark p-2 bg-white" >
            <NavPanel>
                <NavPanelMenuItem Name="Home" Icon="oi-home" href="" />
                <NavPanelMenuItem Name="Test" Icon="oi-terminal" href="test" />
                <NavPanelMenuItem Name="Counter" Icon="oi-plus" href="counter">
                    <NavPanelMenuItem Name="Home" Icon="oi-home" href="" />
                    <NavPanelMenuItem Name="Test" Icon="oi-terminal" href="test" />
                </NavPanelMenuItem>
                <NavPanelMenuItem Name="Fetch data" Icon="oi-list-rich" href="fetchdata" />
            </NavPanel>
        </div>
    </LeftMenuPanel>
    <LeftIcon>

        <span class="oi oi-grid-three-up text-shadow" aria-hidden="true"></span>

    </LeftIcon>
    <RightIcon>

        <span class="oi oi-cog text-shadow" aria-hidden="true"></span>

    </RightIcon>
    <RightMenuPanel>

        <UserAccountDisplay />

        <BackgroundPicker height="60" class="m-1 p-0 border-0 pic-hover" />

    </RightMenuPanel>
    <Content>

        @Body

    </Content>
</CleanLayout>
@code{

}