<div class="border rounded m-0 text-dark p-2 bg-white clean-view-shadow clean-view-text-shadow " style="min-width: 320px">

    <NavPanel>
        <NavPanelMenuItem Name="Home" Icon="oi-home" href="" />
        <NavPanelMenuItem Name="Nav Panel Demonstration" Icon="oi-home" href="navdemo" />
        <NavPanelMenuItem Name="Sub Menu" Icon="">
            <NavPanelMenuItem Name="Counter" Icon="oi-plus" href="counter" />
            <AuthorizeView>
                <NavPanelMenuItem Name="Fetch data" Icon="oi-list-rich" href="fetchdata" />
            </AuthorizeView>
        </NavPanelMenuItem>
    </NavPanel>

</div>
    