<div class="border rounded bg-white p-3 clean-view-shadow clean-view-text-shadow">
    @ChildContent
    <hr />
    <CleanMenuItem Value="@(("Home","","home"))" />
    <CleanMenuItem Value="@(("Home","","home"))">
        <CleanMenuItem Value="@(("Attack","","home"))" />
        <CleanMenuItem Value="@(("Defend","","home"))" />
    </CleanMenuItem>

</div>
@code {
    [Parameter]
    public RenderFragment @ChildContent { get; set; }
}
